@import "mixins/mixins.scss";
@import "variables/variables.scss";

*{
    @include reset();
}
.container{
    width: 100%;
    @include simpleflex(column, none, none);
    background-color: #fff;
}

.highlight{
    &--purple{
        color: #c300ff;
        font-family: $sans;
    }
}
