@import "mixins/mixins.scss";
@import "variables/variables.scss";

*{
    @include reset();
}
.container{
    width: 100%;
    @include simpleflex(column, none, none);
    background-color: #fff;
    min-height: 100vh;
}

a{
    text-decoration: none;
}
