@import "mixins/mixins.scss";
@import "variables/variables.scss";

.core-header{
    @include simpleflex(row, space-between, center);
    padding: 1vw;
    &__title{
        font-family: $sans;
    }
}
.menu{
    @include simpleflex(row, space-between, center);
    &__element{
        margin-right: 1vw;
        list-style: none;
        font-family: $serif;
    }
}