@import "../../styles/mixins/mixins.scss";
@import "../../styles/variables/variables.scss";

.blog {
    width: 80vw;
    margin: auto;    
    margin-top: 4vw;
    &__title{
        font-family: $sans;
        font-size: $ps-t;
        @include gradientHighlight($accent1, $accent2);
        margin-bottom: 2.5vw;
    }
    &__date{
        font-size: $ps-c;
        font-style: italic;
        border-bottom: 1px $dark solid;
        padding-bottom: 1.5vw;
    }
    &__content{
        font-family: $serif;
        margin: 4vw 0px;
    }
    &__link{
        margin: 3vw 0px;
        &--prev{
            color: $main-color;
            padding: 1vw;
            font-size: $ps-c;
            font-family: $sans;
        }
        &--next{
            color: $main-color;
            padding: 1vw;
            left: 100%;
            position: sticky;
            font-size: $ps-c;
            font-family: $sans;
        }
    }
}
.article{
    width:100%;
    position: relative;
    @include simpleflex(column);
    &__content{
        position: relative;
        @include simpleflex(column, center, center);
        width: 100%;
        *{
            width:100%;
        }
    }
    &__tableofcontent{
        ul{
            border-left: 3px $main-color solid;
            padding-left: 20px;
        }
        width: 100%;
    }
    h1,h2,h3,h4,h5{
        margin: 2.5vw 0px;
        font-family: $sans;
        @include gradientHighlight($accent1, $accent2);
        text-align: center;
    }
    h2{
        font-size: $ps-t;
    }
    h3{
        font-size: 6vw;
    }
    h4{
        font-size: 5vw;
    }
    h5{
        font-size: 4.5vw;
    }
    h6{
        margin: 1.5vw 0px .25vw;
        font-size: 4vw;
        font-family: $sans;
        color: $dark;
        text-align: center;
    }
    li{
        font-size: $ps-c;
        font-family: $serif;
        margin: .85vw 0vw;
    }
    p {
        font-family: $serif;
        font-size: $ps-c;
        margin: 2vw 0px;
    }
    pre{
        padding: 2vw;
        overflow-x: auto;
        background-color: $dark;
        border-radius: 4vw;
        margin: 3vw 0px;
    }
    code{
        font-family: $code;
        font-size: $ps-c;
        color: $light;
        font-weight: 600;
        text-align: left;
    }
    span {
        color: $main-color;
        font-family: $code;
        padding: .05vw;
        background-color: $dark;
        font-weight: 600;
        code {
            padding: 0px;
            position: static;
            color: $main-color;
            font-size: $ps-c;
            font-family: $code;   
            font-weight: 600;
        }
    }
    ul{
        li{
            list-style: none;
            color: $dark;
            a{
                color: $main-color;
                font-size: $ps-c;
                font-weight: 600;
            }
        }
    }
}
@media (min-width: 540px){

.blog {
    width: 80vw;  
    margin-top: 4vw;
    &__title{
        font-size: $s540-t;
        margin-bottom: 2.5vw;
    }
    &__date{
        font-size: $s540-c;
        padding-bottom: 1.5vw;
    }
    &__content{
        margin: 4vw 0px;
    }
    &__link{
        margin: 3vw 0px;
        &--prev{
            padding: 1vw;
            font-size: $s540-c;
        }
        &--next{
            padding: 1vw;
            font-size: $s540-c;
        }
    }
}
.article{
    width:100%;
    position: relative;
    @include simpleflex(column);
    &__content{
        position: relative;
        @include simpleflex(column, center, center);
        width: 100%;
        *{
            width:100%;
        }
    }
    &__tableofcontent{
        width: 100%;
    }
    h1,h2,h3,h4,h5{
        margin: 2.5vw 0px;
        text-align: center;
    }
    h2{
        font-size: $s540-t;
    }
    h3{
        font-size: 5vw;
    }
    h4{
        font-size: 4vw;
    }
    h5{
        font-size: 4vw;
    }
    h6{
        font-size: 3.5vw;
    }
    li{
        font-size: $s540-c;
    }
    p {
        font-size: $s540-c;
        margin: 2vw 0px;
    }
    pre{
        margin: 3vw 0px;
    }
    code{
        padding-left: 5vw;
        font-size: $s540-c;
    }
    span {
        code {
            font-size: $s540-c;
        }
    }
    ul{
        li{
            a{
                font-size: $s540-c;
                font-weight: 600;
            }
        }
    }
}
}
@media (min-width: 720px){

.blog {
    width: 80vw;  
    margin-top: 4vw;
    &__title{
        font-size: $s720-t;
        margin-bottom: 2.5vw;
    }
    &__date{
        font-size: $s720-c;
        padding-bottom: 1.5vw;
    }
    &__content{
        margin: 3vw 0px;
    }
    &__link{
        margin: 3vw 0px;
        &--prev{
            padding: 1vw;
            font-size: $s720-c;
        }
        &--next{
            padding: 1vw;
            font-size: $s720-c;
        }
    }
}
.article{
    width:100%;
    position: relative;
    @include simpleflex(column);
    &__content{
        position: relative;
        @include simpleflex(column, center, center);
        width:100%;
        *{
            width:100%;
        }
    }
    &__tableofcontent{
        width: 100%;
    }
    h1,h2,h3,h4,h5{
        margin: 2.5vw 0px;
        text-align: left;
    }
    h2{
        font-size: $s720-t;
    }
    h3{
        font-size: 4.5vw;
    }
    h4{
        font-size: 3.5vw;
    }
    h5{
        font-size: 3vw;
    }
    h6{
        font-size: 2vw;
        text-align: left;
    }
    li{
        font-size: $s720-c;
    }
    p {
        font-size: $s720-c;
        margin: 2vw 0px;
    }
    pre{
        margin: 3vw 0px;
    }
    code{
        padding-left: 3vw;
        font-size: $s720-c;
    }
    span {
        code {
            font-size: $s720-c;
        }
    }
    ul{
        li{
            a{
                font-size: $s720-c;
                font-weight: 600;
            }
        }
    }
}
}
@media (min-width: 1024px){

.blog {
    width: 80vw;  
    margin-top: 4vw;
    &__title{
        font-size: $s1024-t;
        margin-bottom: 2.5vw;
    }
    &__date{
        font-size: $s1024-c;
        padding-bottom: 1.5vw;
    }
    &__content{
        margin: 3vw 0px;
    }
    &__link{
        margin: 3vw 0px;
        &--prev{
            padding: 1vw;
            font-size: $s1024-c;
        }
        &--next{
            padding: 1vw;
            font-size: $s1024-c;
        }
    }
}
.article{
    width:100%;
    position: relative;
    @include simpleflex(row-reverse, space-between);
    &__content{
        position: relative;
        @include simpleflex(column, center, center);
        width:60vw; 
        *{
            width:100%;
        }
    }
    &__tableofcontent{
        width: 20vw;
        margin-left: 3vw;
        left: 100%;
        top: 10%;
        position: sticky;
    }
    h1,h2,h3,h4,h5{
        margin: 2.5vw 0px;
        text-align: left;
    }
    h2{
        font-size: $s1024-t;
    }
    h3{
        font-size: 3.5vw;
    }
    h4{
        font-size: 3vw;
    }
    h5{
        font-size: 2.5vw;
    }
    h6{
        font-size: 2vw;
    }
    li{
        font-size: $s1024-c;
    }
    p {
        font-size: $s1024-c;
        margin: 2vw 0px;
    }
    pre{
        border-radius: 2vw;
        margin: 2vw 0px;
    }
    code{
        padding-left: 3vw;
        font-size: $s1024-c;
    }
    span {
        code {
            font-size: $s1024-c;
        }
    }
    ul{
        li{
            a{
                font-size: $s1024-c;
                font-weight: 600;
            }
        }
    }
}
}
@media (min-width: 1600px){

.blog {
    width: 80vw;  
    margin-top: 4vw;
    &__title{
        font-size: $s1600-t;
        margin-bottom: 1.5vw;
    }
    &__date{
        font-size: $s1600-c;
        padding-bottom: 1.5vw;
    }
    &__content{
        margin: 3vw 0px;
    }
    &__link{
        margin: 3vw 0px;
        &--prev{
            padding: 1vw;
            font-size: $s1024-c;
        }
        &--next{
            padding: 1vw;
            font-size: $s1024-c;
        }
    }
}
.article{
    width:100%;
    position: relative;
    &__content{
        position: relative;
        @include simpleflex(column, center, center);
        width:50vw; 
        *{
            width:100%;
        }
    }
    &__tableofcontent{
        margin-left: 3vw;
        left: 100%;
        top: 13%;
        position: sticky;
    }
    h1,h2,h3,h4,h5{
        margin: 1.25vw 0px .85vw;
        text-align: left;
    }
    h2{
        font-size: $s1600-t;
    }
    h3{
        font-size: 2vw;
    }
    h4{
        font-size: 1.5vw;
    }
    h5{
        font-size: 1vw;
    }
    h6{
        font-size: 1vw;
    }
    li{
        font-size: $s1600-c;
    }
    p {
        font-size: $s1600-c;
        margin: .85vw 0px;
    }
    pre{
        border-radius: 2vw;
        margin: 1.25vw 0px;
    }
    code{
        padding-left: 3vw;
        font-size: $s1600-c;
    }
    span {
        code {
            font-size: $s1600-c;
        }
    }
    ul{
        li{
            a{
                font-size: $s1600-c;
                font-weight: 600;
            }
        }
    }
}
}