//===================================================//
//                      fonts                       //
//=================================================//

$sans: 'Rubik', sans-serif;
$serif: 'Source serif pro', serif;
$code: 'Source code pro', monospace;

//===================================================//
//                      colors                      //
//=================================================//

$dark: #233D4D;
$main-color: #fe7f2d;
$accent1: #048a81;
$accent2: #06d6a0;
$light: #fff;

//===================================================//
//                      section                     //
//=================================================//