//===================================================//
//                      fonts                       //
//=================================================//

$sans: 'Rubik', sans-serif;
$serif: 'Source serif pro', serif;
$code: 'Source code pro', monospace;

//===================================================//
//                      colors                      //
//=================================================//

$dark: #233D4D;
$main-color: #fe7f2d;
$accent1: #048a81;
$accent2: #06d6a0;
$light: #fff;

//===================================================//
//                      font-sizes                  //
//=================================================//

$ps-t: 8vw;
$ps-c: 3.75vw;
//====
$s540-t: 6vw;
$s540-c: 3vw;
//====
$s720-t: 6vw;
$s720-c: 2.5vw;
//====
$s1024-t: 4.5vw;
$s1024-c: 1.25vw;
//====
$s1600-t: 4vw;
$s1600-c: .85vw;
