@import '../variables/variables.scss';
@import '../mixins/mixins.scss';



.core-main{
    @include simpleflex(column, none, none);
    &__section{
        background-color: $light;
        width: 80%;
        margin: auto;
    }
}
.section{
    padding: 3vw;
    position: relative;
    &__title{
        @include gradientHighlight();
        font-family: $serif;
        margin-bottom: 1vw;
        font-size: 6vw;
    }
    &__content{
        font-family: $serif;
        width: 70%;
        margin-top: 1vw;
        margin-bottom: 1vw;
        &:nth-of-type(1){
            display: inline;
        }
    }
    &__image{
        display: block;
        position: relative;
        width: 20vw;
        margin: 1vw;
    }
    &__link{
        
        padding: 1.5vw;
        display: block;
        *{
            font-size: 5vw;
        }
        i{
            color: $dark;
        }
        .link-label{
            display: inline;
            color: $dark;
            font-family: $sans;
        }
    }
    &--author{
        padding: 3vw;
        @include simpleflex(column, center, center);
        
    &:nth-of-type(2){
        margin-top: 4.5vw;
    }
    .section{
        &__title{
            @include gradientHighlight();
            font-family: $serif;
            margin-bottom: 1vw;
            font-size: 6vw;
        }
        &__content{
            font-size: 4vw;
            font-family: $serif;
            margin-top: 2vw;
            margin-bottom: 2vw;
            text-align: center;
        }
        &__image{
            display: block;
            position: relative;
            margin: 1vw;
            width: 50vw;
        }
        &__link{
            
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
            i{
                color: $dark;
            }
            .link-label{
                display: inline;
                color: $dark;
                font-family: $sans;
            }
        }
    }
    }
}
.content-list{
    &__element{
        font-family: $serif;
        font-size: .85vw;
        margin-top: .5vw;
    }
}
@media(min-width:540px){
    .section{
        padding: 3vw;
        &__title{
            margin-bottom: 1vw;
            font-size: 6vw;
        }
        &__content{
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
        &__image{
            width: 20vw;
            margin: 1vw;
        }
        &__link{
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 4vw;
        &:nth-of-type(2){
            margin-top: 4.5vw;
        }
        .section{
            &__title{
                margin-bottom: 1vw;
                font-size: 5vw;
            }
            &__content{
                font-size: 3.5vw;
                margin-top: 2vw;
                margin-bottom: 2vw;
            }
            &__image{
                margin: 1vw;
                width: 40vw;
            }
            &__link{
                padding: 1.5vw;
                *{
                    font-size: 5vw;
                }
            }
        }
        }
    }
}
@media(min-width:720px){
    .section{
        padding: 3vw;
        &__title{
            margin-bottom: 1vw;
            font-size: 6vw;
        }
        &__content{
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
        &__image{
            width: 20vw;
            margin: 1vw;
        }
        &__link{
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 4vw;
        &:nth-of-type(2){
            margin-top: 4.5vw;
        }
        .section{
            &__title{
                margin-bottom: 1vw;
                font-size: 4vw;
            }
            &__content{
                font-size: 2.5vw;
                margin-top: 2vw;
                margin-bottom: 2vw;
            }
            &__image{
                margin: 1vw;
                width: 40vw;
            }
            &__link{
                padding: 1.5vw;
                *{
                    font-size: 4vw;
                }
            }
        }
        }
    }
}
@media(min-width:1024px){
    .section{
        padding: 3vw;
        &__title{
            margin-bottom: 1vw;
            font-size: 6vw;
        }
        &__content{
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
        &__image{
            width: 20vw;
            margin: 1vw;
        }
        &__link{
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 4vw;
        &:nth-of-type(2){
            margin-top: 4vw;
        }
        .section{
            &__title{
                margin-bottom: 1vw;
                font-size: 3.5vw;
            }
            &__content{
                font-size: 2vw;
                margin-top: 1.5vw;
                margin-bottom: 1.5vw;
            }
            &__image{
                margin: 1vw;
                width: 35vw;
            }
            &__link{
                padding: 1vw;
                *{
                    font-size: 3vw;
                }
            }
        }
        }
    }
}
@media(min-width:1600px){
    .section{
        padding: 3vw;
        &__title{
            margin-bottom: 2vw;
            font-size: 4vw;
        }
        &__content{
            font-size: .85vw;
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
        &__image{
            position: absolute;
            right: 0vw;
            top: 0vw;
            width: 25vw;
            margin: 0vw;
        }
        &__link{
            padding: 1vw;
            display: block;
            width: 10vw;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 4vw;
        &:nth-of-type(2){
            margin-top: 4vw;
        }
        .section{
            &__title{
                margin-bottom: .75vw;
                font-size: 2.5vw;
            }
            &__content{
                font-size: 1.25vw;
                margin-top: 1vw;
                margin-bottom: 1vw;
            }
            &__image{
                margin: 1vw;
                width: 20vw;
            }
            &__link{
                padding: 1vw;
                *{
                    font-size: 2.75vw;
                }
            }
        }
        }
    }
    .content-list{
        &__element{
            font-size: .85vw;
            margin-top: .5vw;
        }
    }
    .highlight{
        &--purple{
            color: #c300ff;
            font-family: $sans;
            font-size: .85vw;
        }
    }
}