@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

//===================================================//
//                  local variables                 //
//=================================================//

$ps-pt: 6vw;
$ps-pc: 3.75vw;
$s540-pt: 6vw;
$s540-pc: 3vw;
$s720-pt: 4vw;
$s720-pc: 2.5vw;
$s1024-pt: 4vw;
$s1024-pc: 1.25vw;
$s1600-pt: 3vw;
$s1600-pc: .85vw;

//===================================================//
//=//                     phone                  //=//
//=================================================//

.core-main{
    @include simpleflex(column);
    &__section{
        background-color: $light;
        width: 80%;
        margin: auto;
    }
}
.section{
    padding: 3vw;
    position: relative;
    @include simpleflex(column, center, center);
    &__title{
        @include gradientHighlight($accent1, $accent2);
        font-family: $serif;
        margin-bottom: 1vw;
        font-size: $ps-t;
    }
    &__content{
        font-family: $serif;
        width: 70%;
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: $ps-c;
        text-align: center;
    }
    &__image{
        display: block;
        position: relative;
        width: 70vw;
        margin: 1vw;
    }

    &--author{
        padding: 3vw;
        @include simpleflex(column, center, center);
        
    &:nth-of-type(2){
        margin-top: 4.5vw;
    }
    .section{
        &__title{
            @include gradientHighlight($accent1, $accent2);
            font-family: $serif;
            margin-bottom: 1vw;
            font-size: $ps-t;
        }
        &__content{
            font-size: $ps-c;
            font-family: $serif;
            margin-top: 2vw;
            margin-bottom: 2vw;
            text-align: center;
        }
        &__image{
            display: block;
            position: relative;
            margin: 1vw;
            width: 50vw;
        }
        &__link{
            
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
            i{
                color: $dark;
            }
            .link-label{
                display: inline;
                color: $dark;
                font-family: $sans;
            }
        }
    }
    }
}
.content-list{
    &__element{
        list-style: none;
        font-family: $serif;
        font-size: $ps-c;
        margin-top: 1.5vw;
        text-align: center;
    }
    &__link{
        font-family: $sans;
        color: #c300ff;
    }
}
.post-list{
    @include simpleflex(column);
    text-align: left;
    list-style: none;
    &__element{
        margin: 1vw;
        font-family: $serif;
    }
    &--newest{
        list-style: none;
        @include simpleflex(column);
        margin: auto;
    }
}
.post{
    border: 1px $dark solid;
    border-radius: 1vw;
    width: 70vw;
    &__link{
        padding: 3vw;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }
    &__title{
        font-size: $ps-pt;
        text-shadow: 2px 1px $main-color;
        color: $dark;
        margin: 0;
    }
    &__date{
        font-style: italic;
        color: #000;
        font-size: $ps-pc;
    }
    &__description{
        margin-top: 1.5vw;
        color: #000;
        font-size: $ps-pc;
    }
}
.highlight{
    &--purple{
        color: #c300ff;
        font-family: $sans;
        font-size: $ps-pc;
    }
}

//===================================================//
//                      540px                       //
//=================================================//


@media(min-width:540px){
    .section{
        padding: 3vw;
        &__title{
            margin-bottom: 1vw;
            font-size: $s540-t;
        }
        &__content{
            margin-top: 1vw;
            margin-bottom: 1vw;
            font-size: $s540-c;
        }
        &__image{
            width: 50vw;
            margin: 1vw;
        }
        &__link{
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 3vw;
        &:nth-of-type(2){
            margin-top: 4.5vw;
        }
        .section{
            &__title{
                margin-bottom: 1vw;
                font-size: $s540-t;
            }
            &__content{
                font-size: $s540-c;
                margin-top: 2vw;
                margin-bottom: 2vw;
            }
            &__image{
                margin: 1vw;
                width: 40vw;
                border-radius: 10vw;
            }
            &__link{
                padding: 1.5vw;
                *{
                    font-size: 5vw;
                }
            }
        }
        }
    }
    .content-list{
        &__element{
            font-size: $s540-c;
            margin-top: 1.5vw;
        }
    }
    .post-list{
        &__element{
            margin: 1vw;
        }
    }
    .post{
        width: 60vw;
        &__title{
            font-size: $s540-pt;
        }
        &__date{
            font-size: $s540-pc;
        }
        &__description{
            font-size: $s540-pc;
        }
    }
    .highlight{
        &--purple{
            font-size: $s540-c;
        }
    }
}

//===================================================//
//                      720px                       //
//=================================================//

@media(min-width:720px){
    .section{
        padding: 3vw;
        &__title{
            margin-bottom: 1vw;
            font-size: $s720-t;
        }
        &__content{
            margin-top: 1vw;
            margin-bottom: 1vw;
            font-size: $s720-c;
        }
        &__image{
            width: 50vw;
            margin: 1vw;
        }
        &__link{
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 4vw;
        &:nth-of-type(2){
            margin-top: 4.5vw;
        }
        .section{
            &__title{
                margin-bottom: 1vw;
                font-size: 4vw;
            }
            &__content{
                font-size: $s720-c;
                margin-top: 2vw;
                margin-bottom: 2vw;
            }
            &__image{
                margin: 1vw;
                width: 40vw;
            }
            &__link{
                padding: 1.5vw;
                *{
                    font-size: 4vw;
                }
            }
        }
        }
    }
    .content-list{
        &__element{
            font-size: $s720-c;
            margin-top: 1.5vw;
        }
    }
    .post{
        width: 50vw;
        &__title{
            font-size: $s720-pt;
        }
        &__date{
            font-size: $s720-pc;
        }
        &__description{
            font-size: $s720-pc;
        }
    }
    .highlight{
        &--purple{
            font-size: $s720-c;
        }
    }
}

//===================================================//
//                      1024px                      //
//=================================================//

@media(min-width:1024px){
    .section{
        padding: 3vw;
        @include simpleflex(column, left, flex-start);
        &__title{
            margin: auto;
            margin-bottom: 1vw;
            font-size: $s1024-t;
        }
        &__content{
            margin-top: 1vw;
            margin-bottom: 1vw;
            font-size: $s1024-c;
            text-align: left;
        }
        &__image{
            position: absolute;
            right: 0vw;
            top: 0vw;
            width: 25vw;
            margin: 0vw;
        }
        &__link{
            padding: 1.5vw;
            display: block;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 4vw;
        &:nth-of-type(2){
            margin-top: 4vw;
        }
        .section{
            &__title{
                margin-bottom: 1vw;
                font-size: $s1024-t;
            }
            &__content{
                font-size: $s1024-c;
                margin-top: 1.5vw;
                margin-bottom: 1.5vw;
            }
            &__image{
                margin: 1vw;
                width: 35vw;
            }
            &__link{
                padding: 1vw;
                *{
                    font-size: 3vw;
                }
            }
        }
        }
    }
    .content-list{
        &__element{
            font-size: $s1024-c;
            margin-top: 1.5vw;
            text-align: left;
        }
    }
    .post{
        width: 100%;
        &__title{
            font-size: $s1024-pt;
        }
        &__date{
            font-size: $s1024-pc;
        }
        &__description{
            font-size: $s1024-pc;
        }
    }
    .post-list{
        &__element{
            width: 100%;
        }
        &--newest{
            .post{
                width: 50vw;
                &__title{
                    font-size: $s1024-pt;
                }
                &__date{
                    font-size: $s1024-pc;
                }
                &__description{
                    font-size: $s1024-pc;
                }
            }
        }
    }
    .highlight{
        &--purple{
            font-size: $s1024-c;
        }
    }
    .page-navigation{
        margin:auto;
    }
}

//===================================================//
//                      1600px                      //
//=================================================//

@media(min-width:1600px){
    .section{
        padding: 3vw;
        &__title{
            margin-bottom: 2vw;
            font-size: $s1600-t;
        }
        &__content{
            font-size: $s1600-c;
            margin-top: 1vw;
            margin-bottom: 1vw;
            &--links{
                @include simpleflex(column, center, center);
            }
        }
        &__image{
            position: absolute;
            right: 0vw;
            top: 0vw;
            width: 25vw;
            margin: 0vw;
        }
        &__link{
            padding: 1vw;
            display: block;
            width: 20vw;
            *{
                font-size: 5vw;
            }
        }
        &--author{
            padding: 4vw;
        &:nth-of-type(2){
            margin-top: 4vw;
        }
        .section{
            &__title{
                margin-bottom: .75vw;
                font-size: $s1600-t;
            }
            &__content{
                font-size: $s1600-c;
                margin-top: 1vw;
                margin-bottom: 1vw;
            }
            &__image{
                margin: 1vw;
                width: 20vw;
            }
            &__link{
                padding: 1vw;
                *{
                    font-size: 2.75vw;
                }
            }
        }
        }
    }
    .content-list{
        &__element{
            font-size: $s1600-c;
            margin-top: .5vw;
        }
    }
    .post{
        width: 100%;
        &__title{
            font-size: $s1600-pt;
        }
        &__date{
            font-size: $s1600-pc;
        }
        &__description{
            font-size: $s1600-pc;
        }
        &__link{
            padding: 1.25vw;
        }
    }
    .highlight{
        &--purple{
            font-size: $s1600-c;
        }
    }
}