@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.page-navigation{
    @include simpleflex(row, center, center);
    &__button{
        text-align: center;
        font-size: $ps-c;
        font-family: $sans;
        color: $light;
        background-color: $dark;
        @include wymiary(4em, 3em);
        padding: .75em;
        margin: .5em;
        border-radius: 1em;
        border: none;
    }
    &__indicator{
        @include simpleflex (column, center, center);
        font-size: $ps-c;
        font-family: $sans;
        color: $light;
        background-color: $accent1;
        @include wymiary(3em, 3em);
        padding: .75em;
        margin: .5em;
        border-radius: 1em;
    }
}
@media (min-width: 540px){
    .page-navigation{
        &__button{
            font-size: $s540-c;
        }
        &__indicator{
           font-size: $s540-c;
        }
    }
}
@media (min-width: 720px){
    .page-navigation{
        &__button{
            font-size: $s720-c;
        }
        &__indicator{
           font-size: $s720-c;
        }
    }
}
@media (min-width: 1024px){
    .page-navigation{
        &__button{
            font-size: $s1024-c;
        }
        &__indicator{
           font-size: $s1024-c;
        }
    }
}
@media (min-width: 1600px){
    .page-navigation{
        &__button{
            font-size: $s1600-c;
        }
        &__indicator{
           font-size: $s1600-c;
        }
    }
}