@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

.container404{
    overflow: hidden;
    *{
        overflow: hidden;
    }
    background-color: $dark;
    @include wymiary(100vw, 100vh);
    @include simpleflex(column, center, center);
}
.list404{
    &__element{
        list-style: none;
        color: $dark;
        font-family: $serif;
        font-size: $ps-c;
        font-weight: 600;
    }
}
.main404{
    @include wymiary(70vw, 140vw);
    padding: .75em;
    background-color: $light;
    text-align: center;
    @include simpleflex(column, space-evenly, center);
    border-radius: 5vw;
    &__title{
        font-family: $sans;
        font-size: $ps-t;
        color: $main-color;
    }
    &__content{
        font-family: $serif;
        font-size: $ps-c;
        font-weight: 600;
        color: $dark;
    }
    &__link{
        font-family: $serif;
        font-size: $ps-c;
        background-color: $dark;
        padding: 1.25em;
        color: $light;
        border-radius: 40vw;
        width: 70%;
        &:hover{
            background-color: darken($dark,5%);
        }
    }
}
@media(min-width:540px){
.list404{
    &__element{
        font-size: $s540-c;
    }
}
.main404{
    @include wymiary(60vw, 120vw);
    padding: .75em;
    background-color: $light;
    text-align: center;
    @include simpleflex(column, space-evenly, center);
    border-radius: 5vw;
    &__title{
        font-size: $s540-t;
    }
    &__content{
        font-size: $s540-c;
    }
    &__link{
        font-size: $s540-c;
    }
}
}
@media(min-width:720px){
.list404{
    &__element{
        font-size: $s720-c;
    }
}
.main404{
    @include wymiary(50vw, 90vw);
    padding: .75em;
    background-color: $light;
    text-align: center;
    @include simpleflex(column, space-evenly, center);
    border-radius: 5vw;
    &__title{
        font-size: $s720-t;
    }
    &__content{
        font-size: $s720-c;
    }
    &__link{
        font-size: $s720-c;
    }
}
}
@media(min-width:1024px){
.list404{
    &__element{
        text-align: left;
        font-size: $s1024-c;
    }
}
    
.main404{
    @include wymiary(40vw, 60vw);
    padding: .75em;
    background-color: $light;
    text-align: center;
    @include simpleflex(column, space-evenly, center);
    border-radius: 5vw;
    &__title{
        font-size: $s1024-t;
    }
    &__content{
        font-size: $s1024-c;
    }
    &__link{
        font-size: $s1024-c;
    }
}
}
@media(min-width:1600px){
.list404{
    &__element{
        font-size: $s1600-c;
    }
}
    
.main404{
    @include wymiary(30vw, 40vw);
    padding: .75em;
    background-color: $light;
    text-align: center;
    @include simpleflex(column, space-evenly, center);
    border-radius: 5vw;
    &__title{
        font-size: $s1600-t;
    }
    &__content{
        font-size: $s1600-c;
    }
    &__link{
        font-size: $s1600-c;
    }
}
}